doctype html
html(lang="en-US")
  head
    title Travel App
    meta(charset="utf-8")
    link(rel="stylesheet" href="/stylesheets/application.css")
  body
    header
      h1 Flight Tracker
      block button

    main
      - let kinds = Object.keys(flash || {});
      ul(class="flash")
        each kind in kinds
          each message in flash[kind]
            li(class=kind)= message
      block main