doctype html
html(lang="en-US")
  head
    title Travel App
    meta(charset="utf-8")
    link(rel="stylesheet" href="/stylesheets/application.css")
  body
    header
      h1 Flight Tracker
      block button

    block main