@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: -0.3px;
}

body {
  max-width: 680px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h1 {
  color: #375CDD;
  margin-top: 3rem;
  margin-bottom: 0;
  font-weight: 600;
}

.button {
  display: inline-block;
  padding: 12px;
  border-radius: 0.5rem;
  background-color: #375CDD;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

main {
  margin-top: 24px;
}

.card {
  border: lightgrey solid 1px;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  height: 160px;
  margin-top: 24px;
}

.card img {
  width: 30%;
}

.card-info {
  width: 70%;
  padding: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.card-info div {
  width: 100%;
}

.split-elements {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

h2 {
  margin: 0;
  font-weight: 600;
}

.edit {
  text-decoration: none;
  border-bottom: 1px solid #375CDD;
  color: #375CDD;
}

p {
  margin: 0;
}

.airline {
  color: gray;
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: 500;
}

.flight-number {
  color: gray;
  font-weight: 600;
}

.flash {
  padding: 0;
}

.flash li {
  list-style: none;
  margin: 20px 0;
  padding: 12px;
  border-radius: 4px;
  font-weight: 500;
}

.error {
  background-color: lightcoral;
  color: darkred;
}

.success {
  background-color: lightgreen;
  color: darkgreen;
}

.info {
  background-color: lightgoldenrodyellow;
  color: darkgoldenrod;
}